$tablet: 1090px
$smallTablet: 749px
$phone: 400px

@mixin flexCenter($justify: flex-start, $align: stretch,$direction: row ,$gap: 0)
  display: flex
  justify-content: $justify
  align-items: $align
  flex-direction: $direction
  gap: $gap

@mixin tablet
  @media (max-width: $tablet)
    @content

@mixin smallTablet($width: max-width, $center: false)
  @media ($width: $smallTablet)
    @content
    @if $center
      width: 650px
      margin: 20px auto

@mixin phone
  @media (max-width: $phone)
    @content
