.app
  display: flex
  flex-wrap: wrap
  &__navigation
    width: 100vw
    background: #fefefe
  &__main
    margin: 30px
    width: 100%

.blur
  position: absolute
  top: 0
  left: 0
  z-index: 90
  width: 100vw
  min-height: 100vh
  backdrop-filter: blur(1px)

@media screen and ( max-width: 350px )
  .app__main
    margin: 30px 10px
  