@use 'Variable/mixins'
@use 'Variable/functions'
@use 'Variable/colors'

$positiveBorderColor: #1CA027

$border: 1px solid map-get(colors.$fontColor, "normal")
$borderWarn: 1px solid map-get(colors.$fontColor, "warn")
$validBorder: 1px solid $positiveBorderColor
$focusBorder: 2px solid $positiveBorderColor

$focusButtonBG: map-get(colors.$fontColorHover, "normal")

%inputHelpText
  position: absolute
  left: 0
  background: colors.$pageBG

%borderWithRadius
  border: $border
  border-radius: 5px

.form
  @include mixins.flexCenter($gap: 30px)
  flex-wrap: wrap
  width: 100%
  max-width: 650px
  @include mixins.smallTablet($width: min-width, $center: true)
  &__group
    @include mixins.flexCenter($direction: column, $gap: 20px)
    width: 100%
    @include mixins.smallTablet(min-width)
      width: 300px
    &--button
      @include mixins.flexCenter()
      width: 100%
  &__label
    position: relative
    min-width: 300px
  &__input
    @extend %borderWithRadius
    width: 100%
    max-height: 40px
    padding: 10px
    font-size: 1em
    background: none
    outline: none
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button
      -webkit-appearance: none
      margin: 0
    &:valid
      border: $validBorder
    &:focus
      border: $focusBorder
    &:valid ~ .form__help-text,
    &:focus ~ .form__help-text
      font-size: 0.8em
      padding: 0 15px
      margin: 0
      color: map-get(colors.$primary, "dark")
      border-left: $validBorder
      border-right: $validBorder
      transform: translateX(10px) translateY(-7px)
    &--warning
      border: $borderWarn
  &__help-text
    @extend %inputHelpText
    margin: 10px
    font-size: 1em
    color: map-get(colors.$fontColor, "normal")
    pointer-events: none
    text-transform: uppercase
    transition: functions.transition-repeat(.2s, color, transform, font-size, padding, margin)
    &--warn
      @extend %inputHelpText
      bottom: 0
      padding: 0 5px
      font-size: .6em
      color: map-get(colors.$fontColor, "warn")
      border-left: $borderWarn
      border-right: $borderWarn
      transform: translateX(15px) translateY(3px)
  &__select
    padding: 7px
    border: $borderWarn
    &:valid
      border: $validBorder
    &--required
      border: $borderWarn
  &__option
    padding: 50px 0
    &--disabled
      color: map-get(colors.$fontColor, "disabled")
  &__button
    @extend %borderWithRadius
    width: 80px
    height: 35px
    color: map-get(colors.$fontColor, "normal")
    background: colors.$pageBG
    cursor: pointer
    transition: functions.transition-repeat(.1s, color, background)
    &:active
      color: colors.$pageBG
      background: $focusButtonBG
