$primary: #2196f3
$hoverPrimary: #228fe9
$fontColor: #1b1b1b
$lightFontColor: #eeeeee
$hoverFontColor: #010101
$navBG: #fcfcfc
$hamburgerMenuBG: #383838
$drobDownMenuBG: #dadada

@mixin mainButton ($size: '--nomrmal') 
  background: $primary
  margin: 0 2% 0 auto
  padding: 10px 16px
  font-weight: bold
  border-radius: 6px
  transition: .1s linear background
  cursor: pointer
  border: none
  box-shadow: 1px 1px 2px .2px rgba(12, 12, 12, 0.301)
  &:hover
    background: $hoverPrimary
  &--custom-text
    color: $lightFontColor
  @if $size == '--small'
    margin: 20px 30px
  
.navigation
  display: flex
  justify-content: space-between
  align-items: center
  width: 100%
  min-height: 65px
  padding: 10px 0
  &__list
    display: flex
    list-style-type: none
    align-items: center
    margin: 0
    padding: 0
  &__item
    margin-left: 40px
  &__link
    text-decoration: none
    color: $fontColor
    &--hidden
      display: none
    &:hover
      color: $hoverFontColor
    &:focus-visible
      padding: 3px
  &__button
      @include mainButton
  &__hamburger
    display: none
    flex-direction: column
    justify-content: center
    margin: 0 5% 0 auto
    width: 70px
    background: $navBG
    border: none
    cursor: pointer
    &--component
      width: 100%
      background-color: $fontColor
      padding: 4px 0
      margin: 4px
      border-radius: 4px
      transition: .2s linear transform, top
      &--hidden
        display: none
      &--open45
        position: relative
        top: 8px
        transform: rotate(45deg)
      &--open-45
        position: relative
        top: -8px
        transform: rotate(-45deg)
  &__logo
    width: 40px
    margin-left: 40px


.dropdown 
  position: relative
  &__arrow
    margin: 0
    padding: 0
    width: 16px
  &__button
    position: relative
    right: 5px
    cursor: pointer
    border: none
    background: $navBG
    color: $fontColor
    font-size: 16px
  &__menu 
    box-sizing: border-box
    display: flex
    flex-direction: column
    align-items: flex-start
    background: $drobDownMenuBG
    list-style-type: none
    position: absolute
    padding: 10px 15px
    top: 25px
    left: 0
    border-radius: 5px
  &__divider
    width: 100%
    padding: 1px 0
    background: $fontColor
  .dropdown__item
    padding: 10px 5px
    &--lowerLevel
      width: 100%
      color: $fontColor
      text-decoration: none
      &:hover
        color: $hoverFontColor



@media (max-width: 1260px) 
  .navigation
    &__item
      margin-left: 20px  

@media (max-width: 1215px) 
  .navigation
    &__item
      margin-left: 15px

@media (max-width: 1090px) 
  .navigation
    &__button
      display: none
      &--small
        @include mainButton('--small')
    &__link
      color: $lightFontColor
    &__item
      margin: 7px 30px
      &:nth-child(1)
        margin-top: 25px
    &__list
      display: none
      position: absolute
      top: 0
      left: 0
    &__list--show
      display: flex
      background: $hamburgerMenuBG
      min-height: 100vh
      flex-direction: column
      align-items: flex-start
    &__hamburger
      display: flex
    &__logo
      width: 60px
  .dropdown
    &__menu 
      position: relative
      max-width: 230px
      top: 10px
      margin-bottom: 20px
    &__button
      background: none
      color: $lightFontColor
  
@media (max-width: 360px) 
  .navigation
    &__logo
      margin-left: 10px
    &__hamburger
      margin: 0 5px 0 auto
    &__item
      margin: 10px 10px
    &__button--small
      margin: 15px 10px